:root {
  --page-width: 960px;
  --border-width: 2px;
  --button-width: 6rem;
  --scrollbar-width: 5px;
  --menu-button-size: 32px;
  --menu-width: 350px;
  --gutter: 1rem;
  --spacing: 1rem;
  --menu-open-duration: 0.25s;
  --light: #ffffff;
  --light-gray: #ededed;
  --dark-gray: #bababa;
  --dark: #111111;
  --teal: #0c6457;
  --dark-teal: #074038;
  --red: #af0c0c;
}

@media (min-width: 960px) {
  :root {
    --gutter: 2rem;
    --button-width: 7.5rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  color: var(--dark);
  font-size: 1rem;
  font-weight: normal;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

button {
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  border: none;
  background: none;
}

a:visited,
a:link,
a:active {
  color: var(--teal);
}

@media (hover: hover) {
  a:hover {
    color: var(--dark-teal);
  }
}

h2 {
  margin: 0 0 calc(var(--spacing) / 2);
  font-size: 1.5rem;
  font-weight: lighter;
  width: 100%;
}

p {
  margin: 0 0 var(--spacing);
  width: 100%;
}
