@import 'reset-css/reset.css';

:root {
  --border-width: 2px;
  --button-width: 6rem;
  --scrollbar-width: 5px;
  --menu-button-size: 32px;
  --menu-width: 400px;
  --gutter: 1rem;
  --spacing: 1rem;
  --menu-open-duration: 0.2s;
  --page-width: 840px;

  --white: #fff;
  --black: #111;
  --gray: #bababa;
  --gray-dark: #333;
  --gray-light: #ededed;
  --teal: #0c6457;
  --teal-dark: #074038;
  --teal-light: #22b09b;
  --teal-lighter: #2edfc4;

  --button-active-bg: var(--teal);
  --button-active-color: var(--white);
  --button-bg: var(--white);
  --button-color: var(--black);
  --container-bg: var(--white);
  --container-color: var(--black);
  --footer-border: var(--gray-light);
  --footer-color: var(--black);
  --link-color: var(--teal);
  --link-hover-color: var(--teal-dark);
  --text-area-bg: var(--white);
  --text-area-border: var(--gray-dark);
  --text-area-color: var(--black);
  --text-area-placeholder: var(--gray);
}

@media (min-width: 960px) {
  :root {
    --button-width: 8.5rem;
  }
}

[data-theme='dark'] {
  --button-active-bg: var(--teal-light);
  --button-active-color: var(--black);
  --button-bg: var(--black);
  --button-color: var(--white);
  --container-bg: var(--black);
  --container-color: var(--white);
  --footer-border: var(--gray-dark);
  --footer-color: var(--white);
  --link-color: var(--teal-light);
  --link-hover-color: var(--teal-lighter);
  --text-area-placeholder: var(--gray);
  --text-area-bg: var(--black);
  --text-area-color: var(--white);
  --text-area-border: var(--white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100svh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: normal;
  background: var(--container-bg);
  color: var(--container-color);
}

#__next {
  max-width: var(--page-width, 100%);
  margin: 0 auto;
  min-height: 100svh;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

button {
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  border: none;
  background: none;
}

a:visited,
a:link,
a:active {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

h2 {
  margin: 0 0 calc(var(--spacing) / 2);
  font-size: 1.5rem;
  font-weight: lighter;
  width: 100%;
}

p {
  margin: 0 0 var(--spacing);
  width: 100%;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

ul,
ol {
  margin: 0;
  width: 100%;
  margin: 0 0 calc(var(--spacing) / 2);
  list-style-position: inside;
}

li {
  margin: 0 0 calc(var(--spacing) / 2);
}

table {
  font-size: 1.25rem;
  align-self: flex-start;
}

td {
  padding-bottom: 0.5rem;
}

@media (min-width: 960px) {
  td:not(:first-of-type) {
    padding-left: 2rem;
  }
}

@media (max-width: 959px) {
  td {
    display: block;
  }
}
