.header {
  width: 100%;
  background: var(--teal);
  color: var(--white);
}

.headerWrapper {
  padding: var(--spacing) var(--gutter);
  display: grid;
  align-items: center;
  gap: calc(var(--spacing) * 1);
  grid-template-columns: auto auto 1fr;
}

.homeLink {
  width: var(--menu-button-size);
  height: var(--menu-button-size);
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
}

.headerWrapper > button:last-child {
  justify-self: flex-end;
}

@media (min-width: 840px) {
  .title {
    font-size: 1.5rem;
  }

  .headerWrapper {
    grid-template-columns: 1fr auto 1fr;
  }
}
