.header {
  width: 100%;
  background: var(--light-gray);
  white-space: nowrap;
  overflow-x: auto;
}

.menu ul {
  display: flex;
  margin: 0 auto;
  max-width: var(--page-width);
  padding: var(--spacing) var(--gutter);
}

.menu li {
  padding: 0 1rem 0 0;
}

.menu li[data-active='true'] {
  font-weight: bold;
}

.menu a {
  color: inherit;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}
