.keyboard {
  margin: 2rem 0 0;
  overflow-x: auto;
  max-width: calc(100% + var(--padding) * 2);
  display: block;
  padding: 0 var(--padding);
}

.keyboard button {
  width: 100%;
  font-size: 1rem;
}

.keyboard .to {
  display: block;
  font-size: 1rem;
}

.keyboard .from {
  display: block;
}

.keyboardActions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
  margin: 2rem 0 0;
}

.keyboardActions > button:last-of-type {
  margin-left: auto;
}

.keyboardModeSwitcher {
  display: flex;
}

.keyboardModeSwitcher button[data-active='true'] {
  background: white;
  font-weight: bold;
}

.keyboardModeSwitcher button[data-active='false']:not(:hover) {
  background: var(--dark-gray);
}

.keyboardModeSwitcher button:not(:last-of-type) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.keyboardModeSwitcher button:not(:first-of-type) {
  margin-left: calc(var(--border-width) * -1);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.textArea {
  font-family: inherit;
  font-size: 1rem;
  margin: 1rem 0 0;
  min-height: 8rem;
  padding: 1rem;
  resize: vertical;
  width: 100%;
}

.faqs {
  margin: 2rem 0 0;
  border-top: var(--border-width) solid var(--dark-gray);
}

@media (min-width: 960px) {
  .keyboard td {
    min-width: 3rem;
  }

  .keyboard .to {
    font-size: 1.5rem;
  }

  .keyboardActions button {
    min-width: 8rem;
  }
}
