.keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);
  width: 100%;
  max-width: max-content;
  padding: var(--spacing) 0 0;
}

.keyboardColumn {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.keyboardRow {
  display: flex;
  margin: 0 auto;
}

.keyboardKey {
  padding: 0.25rem;
  min-width: 28px;
  border-radius: 0.25rem;
}

button.keyboardKey:hover {
  color: var(--light);
  background: var(--teal);
}

.keyboardKeyFrom {
  display: block;
}

.keyboardKeyTo {
  display: block;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.keyboardActions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--spacing) 0 0;
}

@media (min-width: 960px) {
  .keyboardKey {
    padding: 0.5rem;
    min-width: 48px;
  }
}
