.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: var(--teal);
  padding: var(--spacing);
  display: grid;
  align-items: flex-start;
  grid-template-columns: auto auto;
  gap: calc(var(--spacing) * 2);
  transition: transform 0.25s;
}

.menu[data-open='false'] {
  transform: translateX(calc(-100% - 1px));
}

.menu ul {
  display: grid;
  gap: var(--spacing);
  margin: 0 auto;
  font-size: 1.25rem;
}

.menu li[data-active='true'] {
  font-weight: bold;
}

.menu a {
  color: inherit;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

.fadeOut {
  background: rgba(0 0 0 / 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.25s;
}

.fadeOut[data-open='false'] {
  opacity: 0;
  pointer-events: none;
}
