.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: var(--teal);
  padding: var(--spacing);
  filter: drop-shadow(2px 4px 6px rgba(0 0 0 / 0.25));
  display: grid;
  align-items: flex-start;
  grid-template-columns: auto auto;
  gap: var(--spacing);
  transition: transform 0.25s;
}

.menu[data-open='false'] {
  transform: translateX(-100%);
}

.menu ul {
  display: grid;
  gap: var(--spacing);
  margin: 0 auto;
}

.menu li[data-active='true'] {
  font-weight: bold;
}

.menu a {
  color: inherit;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

.closeButton {
  min-height: var(--menu-button-size);
  min-width: var(--menu-button-size);
}

.fadeOut {
  background: rgba(0 0 0 / 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 0.25s;
}

.fadeOut[data-open='false'] {
  opacity: 0;
  pointer-events: none;
}
