.textArea {
  min-height: 8rem;
  padding: var(--spacing);
  resize: vertical;
  width: 100%;
  font-family: sans-serif;
  border: var(--border-width) solid var(--text-area-border);
  background: var(--text-area-bg);
  color: var(--text-area-color);
}

.textArea::placeholder {
  color: var(--text-area-placeholder);
}

@media (max-width: 959px) {
  .textArea {
    position: sticky;
    min-height: 4rem;
    top: var(--spacing);
    z-index: 99;
  }
}
