.toggle {
  display: flex;
}

.toggle button[data-active='true'] {
  background: white;
  font-weight: bold;
}

.toggle button[data-active='false']:not(:hover) {
  background: var(--dark-gray);
}

.toggle button:not(:last-of-type) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.toggle button:not(:first-of-type) {
  margin-left: calc(var(--border-width) * -1);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
